@import "_variables.css";

section:not(.hero, .tabcontent, .tab) {
  padding: 2rem 1rem;
  > div {
    max-width: var(--max-screen-width);
    margin: 0 auto;
  }
}

header:has(nav),
header.nav {
  height: 6rem;
  padding: 0 1rem;
}

header:has(nav) {
  background-color: var(--primary-bg);
}

header.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-bg);

  .logo {
    color: var(--primary-bg);
  }
}

header nav {
  max-width: var(--max-screen-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  ul {
    display: none;
  }

  li {
    display: flex;
  }
  li {
    align-items: center;
    a {
      margin-right: 1.5rem;
      color: var(--primary-text);
      font-weight: 600;
      font-size: 0.9rem;
      cursor: pointer;
      display: flex;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.hero {
  min-height: calc(
    100vh - 60px
  ); /* Fallback for browsers that don't support dvh */
  min-height: calc(100dvh - 60px);
  max-width: var(--max-screen-width);

  margin: 0 auto;

  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;

  > img {
    width: calc(100% + 6rem);
    margin-left: -6rem;
    margin-bottom: 1rem;
  }

  > div {
    padding: 0 1rem;
    max-width: var(--max-width-content);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

#toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  background-color: var(--secondary-bg);
  color: var(--secondary-text);
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s, transform 0.5s;
}

.toast.show {
  opacity: 1;
  transform: translateX(0);
}

.toast.error {
  background-color: var(--error-color-dark);
}

.toast.success {
  background-color: var(--succes-color);
}

#signupForm,
#editProfileForm,
#loginForm {
  background-color: var(--primary-bg);
  width: 90%;
  max-width: 500px;
  border-radius: 1rem;
  padding: 2rem;
  margin: 5rem auto;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  legend {
    font-family: var(--fontHeader);
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }
  button {
    margin-top: 1rem;
  }
  hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid var(--tertiary-bg);
  }
}

#username-display {
  text-transform: capitalize;
}

@media (min-width: 640px) {
  #signupForm,
  #editProfileForm {
    padding: 3rem;
    .formfieldPair {
      display: flex;
      gap: 1rem;
      width: 100%;
    }
    div {
      width: 100%;
    }
  }
}

.btn {
  border: none;
  font-family: var(--fontMain);
  font-weight: 600;
  padding: 0.6rem 1.5rem;
  font-size: 0.8rem;
  border-radius: 5rem;
  cursor: pointer;
  width: fit-content;

  transition-property: filter;
  transition-duration: 0.3s;

  &:hover:not(:disabled) {
    filter: brightness(1.1);
  }

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}

.btn-primary {
  background-color: var(--primary-btn);
  color: var(--secondary-text);
}

.btn-secondary {
  background-color: var(--secondary-btn);
  color: var(--secondary-text);
}

.btn-link {
  border: none;
  background-color: transparent;
  font-family: var(--fontMain);
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;

  &:hover {
    font-weight: 600;
  }
}

.btn-delete {
  color: var(--error-color-dark);
}

/* #loan-btn {
  display: none;
} */

.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination-btn {
  border: none;
  background-color: transparent;
  font-family: var(--fontMain);
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.vertical-btn-grp {
  display: flex;
  flex-direction: column;
  align-items: center;
  #delete-btn {
    margin-top: 2rem;
  }
}

#pageNumber {
  padding: 0 1rem;
}

.logo {
  font-family: var(--fontHeader);
  font-weight: 900;
  font-size: 1.8rem;
  color: var(--primary-text);
}

/* Style the table */
.admin-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  margin-bottom: 0.6rem;
  thead {
    background-color: var(--secondary-bg);
    color: var(--secondary-text);
  }
  th {
    padding: 1.2rem;
    text-align: center;
    font-size: 1.1em;
    width: 50%;
  }
  tbody tr:nth-child(even) {
    background-color: var(--tertiary-bg);
  }
  td {
    padding: 12px 15px;
    font-size: 1em;
  }
}

.admin-add-frm {
  width: 100%;
  margin-bottom: 3rem;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  legend {
    font-family: var(--fontHeader);
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

#AllBooks.tabcontent {
  border-radius: 1rem;
  margin-bottom: 3rem;
  padding: 2rem;
  background-color: var(--tertiary-bg);
}

.tab-container {
  display: flex;
  width: 100%;
  padding: 0 1rem;
}

.tab {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: 4rem;
  max-height: 4rem;
  height: 100%;
  border-radius: 2rem;
  background-color: var(--secondary-bg);
  box-shadow: -1px -1px 0px 0px var(--primary-bg);
  overflow: hidden;

  transition-property: max-height;
  transition-duration: 300ms;

  &.open {
    max-height: 20rem;
  }

  h1 {
    color: var(--secondary-text);
    font-size: 2rem;
    line-height: 2.3rem;
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
  }
  button {
    position: relative;
    color: transparent;
    font-family: var(--fontMain);
    font-weight: 200;
    background-color: transparent;

    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 1px;
    transition: 0.3s;

    width: 4rem;
    height: 4rem;

    &:before {
      content: "";
      color: white;
      width: 100%;
      height: 100%;
      display: flex;
      background-position: center;
      background-repeat: no-repeat;
    }

    &#openMenu:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='white'%3E%3Cpath d='M160-240q-17 0-28.5-11.5T120-280q0-17 11.5-28.5T160-320h640q17 0 28.5 11.5T840-280q0 17-11.5 28.5T800-240H160Zm0-200q-17 0-28.5-11.5T120-480q0-17 11.5-28.5T160-520h640q17 0 28.5 11.5T840-480q0 17-11.5 28.5T800-440H160Zm0-200q-17 0-28.5-11.5T120-680q0-17 11.5-28.5T160-720h640q17 0 28.5 11.5T840-680q0 17-11.5 28.5T800-640H160Z' /%3E%3C/svg%3E");
    }

    &#tabAddBook:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e8eaed'%3E%3Cpath d='M200-313q10-3 19.5-5t20.5-2h40v-480h-40q-17 0-28.5 11.5T200-760v447Zm40 233q-50 0-85-35t-35-85v-560q0-50 35-85t85-35h240q17 0 28.5 11.5T520-840q0 17-11.5 28.5T480-800H360v480h240v-80q0-17 11.5-28.5T640-440q17 0 28.5 11.5T680-400v160H240q-17 0-28.5 11.5T200-200q0 17 11.5 28.5T240-160h520v-280q0-17 11.5-28.5T800-480q17 0 28.5 11.5T840-440v280q0 33-23.5 56.5T760-80H240Zm-40-233v-487 487Zm500-167q0-92 64-156t156-64q-92 0-156-64t-64-156q0 92-64 156t-156 64q92 0 156 64t64 156Z'/%3E%3C/svg%3E");
    }

    &#tabAddAuthor:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e8eaed'%3E%3Cpath d='M720-520h-80q-17 0-28.5-11.5T600-560q0-17 11.5-28.5T640-600h80v-80q0-17 11.5-28.5T760-720q17 0 28.5 11.5T800-680v80h80q17 0 28.5 11.5T920-560q0 17-11.5 28.5T880-520h-80v80q0 17-11.5 28.5T760-400q-17 0-28.5-11.5T720-440v-80Zm-360 40q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-240v-32q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v32q0 33-23.5 56.5T600-160H120q-33 0-56.5-23.5T40-240Zm80 0h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z'/%3E%3C/svg%3E");
    }

    &#tabAddPublisher:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e8eaed'%3E%3Cpath d='M160-120q-33 0-56.5-23.5T80-200v-560q0-33 23.5-56.5T160-840h240q33 0 56.5 23.5T480-760v80h320q33 0 56.5 23.5T880-600v200q0 17-11.5 28.5T840-360q-17 0-28.5-11.5T800-400v-200H480v80h80v80h-80v80h80v80h-80v80h120q17 0 28.5 11.5T640-160q0 17-11.5 28.5T600-120H160Zm0-80h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm160 480h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80Zm0-160h80v-80h-80v80ZM840-40q-17 0-28.5-11.5T800-80v-40h-40q-17 0-28.5-11.5T720-160q0-17 11.5-28.5T760-200h40v-40q0-17 11.5-28.5T840-280q17 0 28.5 11.5T880-240v40h40q17 0 28.5 11.5T960-160q0 17-11.5 28.5T920-120h-40v40q0 17-11.5 28.5T840-40ZM640-440v-80h80v80h-80Zm0 160v-80h80v80h-80Z'/%3E%3C/svg%3E");
    }

    &#tabAllBooks:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e8eaed'%3E%3Cpath d='M440-400h80q17 0 28.5-11.5T560-440q0-17-11.5-28.5T520-480h-80q-17 0-28.5 11.5T400-440q0 17 11.5 28.5T440-400Zm0-120h240q17 0 28.5-11.5T720-560q0-17-11.5-28.5T680-600H440q-17 0-28.5 11.5T400-560q0 17 11.5 28.5T440-520Zm0-120h240q17 0 28.5-11.5T720-680q0-17-11.5-28.5T680-720H440q-17 0-28.5 11.5T400-680q0 17 11.5 28.5T440-640ZM320-240q-33 0-56.5-23.5T240-320v-480q0-33 23.5-56.5T320-880h480q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H320Zm0-80h480v-480H320v480ZM160-80q-33 0-56.5-23.5T80-160v-520q0-17 11.5-28.5T120-720q17 0 28.5 11.5T160-680v520h520q17 0 28.5 11.5T720-120q0 17-11.5 28.5T680-80H160Zm160-720v480-480Z'/%3E%3C/svg%3E");
    }
  }
}

.tab button:hover,
.tab button.active {
  text-decoration: underline;
}

.tabcontent {
  display: none;
  width: 100%;
  padding-bottom: 3rem;
}

footer {
  background-color: var(--secondary-bg);
  color: var(--secondary-text);
  padding-bottom: 2rem;
  padding: 4rem 1rem 2rem 1rem;
  a,
  .logo {
    color: var(--secondary-text);
  }
  > div {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-screen-width);
    margin: 0 auto;
  }
  .footer-title {
    font-family: var(--fontHeader);
    font-weight: 600;
    font-size: 1.2rem;
  }
  ul {
    text-align: left;
    color: var(--primary-text);
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.7rem;
    padding-top: 1.5rem;
  }
  .footer-copyright {
    font-size: 0.8rem;
    padding-top: 2rem;
    opacity: 50%;
  }
}

input#searchBooks {
  width: 6rem;
}

.author-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
  padding-bottom: 1rem;
  li {
    list-style: none;
  }
  li > a:hover {
    text-decoration: underline;
  }
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;

  > article {
    background: var(--primary-bg);
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;

    header > div {
      height: calc(
        1.4rem * 2 + 1.5rem
      ); /* Ensure container height matches line count */
    }

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }

    .book-details {
      padding: 1rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .book-title {
      font-size: 1.1rem;
      font-weight: 600;
      margin: 0 0 10px;
      line-height: 1.4;
      line-clamp: 2;
      display: -webkit-box; /* Enables the box layout for line clamping */
      -webkit-box-orient: vertical; /* Specifies vertical arrangement of boxes */
      -webkit-line-clamp: 2; /* Limits to 2 lines before truncating */
      overflow: hidden; /* Hides overflowing text */
      text-overflow: ellipsis; /* Displays "..." for truncated text */
      margin-bottom: 0;
    }

    .book-author {
      color: var(--tertiary-text);
      font-size: 0.9rem;
      margin: 0 0 10px;
    }

    .book-meta {
      display: flex;
      gap: 10px;
      font-size: 0.8rem;
      color: var(--tertiary-text);
    }

    .book-meta span {
      white-space: nowrap;
    }
  }
}

.book-details {
  display: flex;
  flex-direction: column-reverse;
  gap: 3rem;
  img {
    max-width: 25rem;
    margin: 0 auto;
  }
}

/* https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
  border-width: 0.25rem;
  border-style: solid;
  border-color: var(--tertiary-bg);
  border-top-color: var(--primary-btn);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 2s linear infinite;

  &.large {
    border-width: 0.5rem;
    width: 4rem;
    height: 4rem;
  }

  &.tiny {
    border-width: 0.125rem;
    width: 1rem;
    height: 1rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.breadcrumbs {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
  max-width: var(--max-screen-width);
  margin: 0 auto;
  width: 100%;

  & ol {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 0.5rem;

    padding: 0.75rem 1rem;
    background-color: var(--tertiary-bg);
    border-radius: 0.375rem;
  }

  & li {
    display: flex;
    align-items: center;
    color: var(--primary-text);

    &:not(:last-child)::after {
      content: "›";
      margin-left: 0.5rem;
      color: var(--tertiary-text);
    }
  }

  & a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }

    &[property="item"] {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }

  & span[property="name"] {
    white-space: nowrap;
  }
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  h1 {
    padding-bottom: 0;
  }

  .controls {
    display: none;
    gap: 0.5rem;
    flex-direction: column;
  }
}

.author-details {
  h2 {
    margin-bottom: 0.5rem;
    padding-bottom: 0;
    font-size: 1.25rem;
  }

  .book-meta {
    font-size: 0.8rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}

#mobile-navigation {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-bg);

  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  pointer-events: none;

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: var(--primary-bg);
    width: 100%;

    font-size: 1.5rem;

    li {
      width: 100%;
      margin: 0 2rem;
      padding-bottom: 1rem;
      text-align: center;

      &:not(:has(a.visually-hidden)) {
        border-bottom: 1px solid var(--tertiary-bg);
      }
    }
  }
}
