@import "_variables.css";

section:not(.hero, .tabcontent) {
  padding: 2rem 1rem;
  > div {
    max-width: var(--max-screen-width);
    margin: 0 auto;
  }
}

header:has(nav) {
  height: 6rem;
  background-color: var(--primary-bg);
  padding: 0 1rem;
  margin-bottom: 1rem;
}

header nav {
  max-width: var(--max-screen-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  ul,
  li {
    display: flex;
  }
  li {
    align-items: center;
    a {
      margin-right: 1.5rem;
      color: var(--primary-text);
      font-weight: 600;
      font-size: 0.9rem;
      cursor: pointer;
      display: flex;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  [aria-label="Profile"] {
    display: none;
  }
}

.hero {
  height: calc(100vh - 60px); /* Fallback for browsers that don't support dvh */
  height: calc(100dvh - 60px);
  max-width: var(--max-screen-width);

  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;

  > img {
    height: 80%;
    margin-left: -6rem;
  }

  > div {
    h1 {
      white-space: nowrap;
    }

    max-width: var(--max-width-content);
    flex-grow: 1;
    width: min-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

#toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  background-color: var(--secondary-bg);
  color: var(--secondary-text);
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s, transform 0.5s;
}

.toast.show {
  opacity: 1;
  transform: translateX(0);
}

.toast.error {
  background-color: var(--error-color-dark);
}

.toast.success {
  background-color: var(--succes-color);
}

#signupForm,
#editProfileForm,
#loginForm {
  background-color: var(--primary-bg);
  width: 90%;
  max-width: 500px;
  border-radius: 1rem;
  padding: 2rem;
  margin: 5rem auto;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  legend {
    font-family: var(--fontHeader);
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }
  button {
    margin-top: 1rem;
  }
  hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid var(--tertiary-bg);
  }
}

#username-display {
  display: none;
  text-transform: capitalize;
}

@media (min-width: 640px) {
  #signupForm,
  #editProfileForm {
    padding: 3rem;
    .formfieldPair {
      display: flex;
      gap: 1rem;
      width: 100%;
    }
    div {
      width: 100%;
    }
  }
}

.btn {
  border: none;
  font-family: var(--fontMain);
  font-weight: 600;
  padding: 0.6rem 1.5rem;
  font-size: 0.8rem;
  border-radius: 5rem;
  cursor: pointer;
  width: fit-content;

  transition-property: filter;
  transition-duration: 0.3s;

  &:hover:not(:disabled) {
    filter: brightness(1.1);
  }

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}

.btn-primary {
  background-color: var(--primary-btn);
  color: var(--secondary-text);
}

.btn-secondary {
  background-color: var(--secondary-btn);
  color: var(--secondary-text);
}

.btn-delete {
  border: none;
  background-color: transparent;
  font-family: var(--fontMain);
  color: var(--error-color-dark);
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;

  &:hover {
    font-weight: 600;
  }
}

#loan-btn {
  display: none;
}

.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination-btn {
  border: none;
  background-color: transparent;
  font-family: var(--fontMain);
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.vertical-btn-grp {
  display: flex;
  flex-direction: column;
  align-items: center;
  #delete-btn {
    margin-top: 2rem;
  }
}

#pageNumber {
  padding: 0 1rem;
}

.logo {
  font-family: var(--fontHeader);
  font-weight: 900;
  font-size: 1.8rem;
  color: var(--primary-text);
}

/* Style the table */
.admin-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  margin-bottom: 0.6rem;
  thead {
    background-color: var(--secondary-bg);
    color: var(--secondary-text);
  }
  th {
    padding: 1.2rem;
    text-align: center;
    font-size: 1.1em;
    width: 50%;
  }
  tbody tr:nth-child(even) {
    background-color: var(--tertiary-bg);
  }
  td {
    padding: 12px 15px;
    font-size: 1em;
  }
}

.admin-add-frm {
  width: 100%;
  margin-bottom: 3rem;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  legend {
    font-family: var(--fontHeader);
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

#AllBooks.tabcontent {
  border-radius: 1rem;
  margin-bottom: 3rem;
  padding: 2rem;
  background-color: var(--tertiary-bg);
}

.tab-container {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.tab {
  width: 20%;
  height: 30rem;
  padding: 2rem;
  background-color: var(--secondary-bg);
  border-radius: 1rem;
  h1 {
    color: var(--secondary-text);
    font-size: 2rem;
    line-height: 2.3rem;
  }
  button {
    color: var(--secondary-text);
    font-family: var(--fontMain);
    font-weight: 200;
    margin-bottom: 1rem;
    background-color: transparent;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
  }
  button:last-child {
    margin-top: 2rem;
  }
}

.tab button:hover,
.tab button.active {
  text-decoration: underline;
}

.tabcontent {
  display: none;
  width: 80%;
  padding-bottom: 3rem;
}

footer {
  background-color: var(--secondary-bg);
  color: var(--secondary-text);
  padding-bottom: 2rem;
  padding: 4rem 0 2rem 0;
  a,
  .logo {
    color: var(--secondary-text);
  }
  > div {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-screen-width);
    margin: 0 auto;
  }
  .footer-title {
    font-family: var(--fontHeader);
    font-weight: 600;
    font-size: 1.2rem;
  }
  ul {
    text-align: left;
    color: var(--primary-text);
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.7rem;
    padding-top: 1.5rem;
  }
  .footer-copyright {
    font-size: 0.8rem;
    padding-top: 2rem;
    opacity: 50%;
  }
}

input#searchBooks {
  width: 16rem;
}

.author-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1.5rem;
  padding-bottom: 1rem;
  li {
    list-style: none;
  }
  li > a:hover {
    text-decoration: underline;
  }
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;

  > article {
    background: var(--primary-bg);
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;

    header > div {
      height: calc(
        1.4rem * 2 + 1.5rem
      ); /* Ensure container height matches line count */
    }

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }

    .book-details {
      padding: 1rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .book-title {
      font-size: 1.1rem;
      font-weight: 600;
      margin: 0 0 10px;
      line-height: 1.4;
      line-clamp: 2;
      display: -webkit-box; /* Enables the box layout for line clamping */
      -webkit-box-orient: vertical; /* Specifies vertical arrangement of boxes */
      -webkit-line-clamp: 2; /* Limits to 2 lines before truncating */
      overflow: hidden; /* Hides overflowing text */
      text-overflow: ellipsis; /* Displays "..." for truncated text */
      margin-bottom: 0;
    }

    .book-author {
      color: var(--tertiary-text);
      font-size: 0.9rem;
      margin: 0 0 10px;
    }

    .book-meta {
      display: flex;
      gap: 10px;
      font-size: 0.8rem;
      color: var(--tertiary-text);
    }

    .book-meta span {
      white-space: nowrap;
    }
  }
}

.book-details {
  display: flex;
  gap: 3rem;
  img {
    max-width: 25rem;
  }
}

/* https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
  border-width: 0.25rem;
  border-style: solid;
  border-color: var(--tertiary-bg);
  border-top-color: var(--primary-btn);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 2s linear infinite;

  &.large {
    border-width: 0.5rem;
    width: 4rem;
    height: 4rem;
  }

  &.tiny {
    border-width: 0.125rem;
    width: 1rem;
    height: 1rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.breadcrumbs {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
  max-width: var(--max-screen-width);
  margin: 0 auto;
  width: 100%;

  & ol {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 0.5rem;

    padding: 0.75rem 1rem;
    background-color: var(--tertiary-bg);
    border-radius: 0.375rem;
  }

  & li {
    display: flex;
    align-items: center;
    color: var(--primary-text);

    &:not(:last-child)::after {
      content: "›";
      margin-left: 0.5rem;
      color: var(--tertiary-text);
    }
  }

  & a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }

    &[property="item"] {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }

  & span[property="name"] {
    white-space: nowrap;
  }
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  h1 {
    padding-bottom: 0;
  }

  .controls {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }
}

.author-details {
  h2 {
    margin-bottom: 0.5rem;
    padding-bottom: 0;
    font-size: 1.25rem;
  }

  .book-meta {
    font-size: 0.8rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}
