@import "_variables.css";

section:not(.hero) {
  padding: 2rem 1rem;

  > div {
    max-width: var(--max-screen-width);
    margin: 0 auto;
  }
}

header:has(nav) {
  height: 6rem;
  background-color: var(--primary-bg);
  padding: 0 1rem;
  margin-bottom: 1rem;
}

header nav {
  max-width: var(--max-screen-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  ul {
    display: flex;
    gap: 1.5rem;
  }
  li a {
    color: var(--primary-text);
    font-weight: 600;
    font-size: 0.9rem;
  }
}

.hero {
  height: calc(100vh - 60px); /* Fallback for browsers that don't support dvh */
  height: calc(100dvh - 60px);
  max-width: var(--max-screen-width);

  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;

  > img {
    height: 80%;
    margin-left: -6rem;
  }

  > div {
    h1 {
      white-space: nowrap;
    }

    max-width: var(--max-width-content);
    flex-grow: 1;
    width: min-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

#toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  background-color: #333;
  color: var(--secondary-text);
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s, transform 0.5s;
}

.toast.show {
  opacity: 1;
  transform: translateX(0);
}

.toast.error {
  background-color: var(--error-color-dark);
}

.toast.success {
  background-color: var(--succes-color);
}

#signupForm,
#editProfileForm,
#loginForm {
  background-color: var(--primary-bg);
  width: 90%;
  max-width: 500px;
  border-radius: 1rem;
  padding: 2rem;
  margin: 5rem auto;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  legend {
    font-family: var(--fontHeader);
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }
  button {
    margin-top: 1rem;
  }
  hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid var(--tertiary-bg);
  }
}


#username-display {
  display: none;
  text-transform: capitalize;
}

@media (min-width: 640px) {
  #signupForm,
  #editProfileForm {
    padding: 3rem;
    .formfieldPair {
      display: flex;
      gap: 1rem;
      width: 100%;
    }
    div {
      width: 100%;
    }
  }
}

.btn-primary {
  border: none;
  font-family: var(--fontMain);
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 5rem;
  padding: 0.6rem 1.5rem;
  background-color: var(--primary-btn);
  color: var(--secondary-text);
  cursor: pointer;
  
  transition-property: filter;
  transition-duration: 0.3s;
  
  &:hover:not(:disabled) {
    filter: brightness(1.1);
  }
  
  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}

.btn-secondary {
  border: none;
  font-family: var(--fontMain);
  font-weight: 600;
  border-radius: 5rem;
  padding: 0.6rem 1.5rem;
  background-color: var(--secondary-btn);
  color: var(--secondary-text);
  font-size: 0.8rem;
  cursor: pointer;
  
  transition-property: filter;
  transition-duration: 0.3s;
  
  &:hover:not(:disabled) {
    filter: brightness(1.1);
  }
  
  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}

.pagination-btn {
  border: none;
  background-color: transparent;
  font-family: var(--fontMain);
  font-size: 1rem;
  cursor: pointer;
}

#pageNumber {
  padding: 0 1rem;

}

.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: var(--fontHeader);
  font-weight: 900;
  font-size: 1.8rem;
  color: var(--primary-text);
}



/* Style the table */
#authorsTable,
#publishersTable {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  margin-bottom: 0.6rem;
  thead {
    background-color: var(--secondary-btn);  /* Green background */
    color: var(--secondary-text);
  }
  th {
    padding: 1.2rem;
    text-align: center;
    font-size: 1.1em;
    width: 50%;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 1em;
  }
}


#add-author-frm,
#add-publisher-frm,
#add-book-frm {
  width: 100%;
  margin-bottom: 3rem;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  legend {
    font-family: var(--fontHeader);
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }
}


.tab-container {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.tab {
  width: 20%; 
  height: 30rem;
  padding: 2rem;
  background-color: var(--secondary-btn);
  border-radius: 1rem;
  h1 {
    color: var(--secondary-text);
    font-size: 2rem;
    line-height: 2.3rem;
  }
  button {
    color: var(--secondary-text);
    font-family: var(--fontMain);
    font-weight: 200;
    margin-bottom: 1rem;
    background-color: transparent;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
  }
}

.tab button:hover, .tab button.active {
  text-decoration: underline;
}

.tabcontent {
  display: none;
  width: 80%;
  padding-bottom: 3rem;
}


footer {
  background-color: var(--secondary-btn);
  color: var(--secondary-text);
  padding-bottom: 2rem;
  padding: 4rem 0 2rem 0;
  a,
  .logo {
    color: var(--secondary-text);
  }
  > div {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-screen-width);
    margin: 0 auto;
  }
  .footer-title {
    font-family: var(--fontHeader);
    font-weight: 600;
    font-size: 1.2rem;
  }
  ul {
    text-align: left;
    color: var(--primary-text);
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.7rem;
    padding-top: 1.5rem;
  }
  .footer-copyright {
    font-size: 0.8rem;
    padding-top: 2rem;
    opacity: 50%;
  }
}

input#searchBooks {
  width: 16rem;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;

  > article {
    background: var(--primary-bg);
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }

    .book-details {
      padding: 1rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .book-title {
      font-size: 1.1rem;
      font-weight: 600;
      margin: 0 0 10px;
      line-height: 1.4;
      display: -webkit-box; /* Enables the box layout for line clamping */
      -webkit-box-orient: vertical; /* Specifies vertical arrangement of boxes */
      -webkit-line-clamp: 2; /* Limits to 2 lines before truncating */
      overflow: hidden; /* Hides overflowing text */
      text-overflow: ellipsis; /* Displays "..." for truncated text */
      height: calc(1.4em * 2); /* Ensure container height matches line count */
      margin-bottom: 0;
    }

    .book-author {
      color: #555;
      font-size: 0.9rem;
      margin: 0 0 10px;
    }

    .book-meta {
      display: flex;
      gap: 10px;
      font-size: 0.8rem;
      color: #777;
    }

    .book-meta span {
      white-space: nowrap;
    }
  }
}

.book-details {
  display: flex;
  gap: 3rem;
}
